* {margin: 0;
}
nav {
    color: red;
}
#hero-section {
    color: blue;
}
#our_story-section{
color: green;
}
#watch-section { color: darkred;
}
#expertise-section {
    color: fuchsia;
}
#team-section {
    color: yellowgreen;
}
#contact_client-section {
    color: lightsalmon;
}
/*Footer - Start - Romano */
footer {
    color: white;

}
.footerbox{
    background-image: url("images/bgk-footer.png");
    justify-content: flex-end;
}
.tajam{
    color:darkslateblue;
}
/*Footer - Ende - Romano */