* {
  font-family: Open Sans;
    margin: 0;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 20px;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none !important;
}
header {
  width: 100%;
}

.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 80px;
}

.header-area .main-nav {
  min-height: 80px;
}

.header-area .logo {
  float: left;
  margin: 15px;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-right: 0px;
  background-color: transparent;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.header-area .main-nav .nav li a {
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
}
.header-area .main-nav .nav li a:hover {
  color: #62cec5;
}

#hero-section {
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: normal;
  background: url(images/bgk-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 50px;
}

#our_story-section {
  min-height: 370px;
}

#watch-section {
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: normal;
  background: url(images/bgk-middle.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.container {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.container p {
  padding: 5px;
}
.more {
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #62cec5;
  color: #62cec5;
}

.container-story {
  display: flex;
  align-content: space-between;
  padding: 0 20%;
}
.container-story p {
  padding: 5px;
}

.left {
  display: flex;
  padding: 25px;
  align-items: center;
}
.right {
  padding: 25px;
}

/* Media Query für Bilschirmbreite unter 640px*/

@media only screen and (max-width: 640px) {
  #hero-section {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .left,
  .right {
    display: inline-block;
    padding: 25px 0;
    width: 100%;
  }
}
/* font for contact-client-section */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@600&display=swap');

nav {
  color: red;
}

#hero-section {
  color: blue;
}

#our_story-section {
  color: green;
}

#watch-section {
  color: darkred;
}

#expertise-section {
  color: fuchsia;
}

#team-section {
  color: yellowgreen;
}
/* contact_client section */

section#contact_client-section h2 {
  text-transform: uppercase;
}

section#contact_client-section form {
  border: 1px solid hsl(160, 0, 216);
}

section#contact_client-section input {
  display: block;
  margin-bottom: 35px;
  width: 330px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}

section#contact_client-section #textarea {
  display: block;
  margin-bottom: 35px;
  width: 350px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  resize: none;
  /* dann ist die Größe fix */
}

section#contact_client-section button {
  border: 1px solid rgb(104, 218, 205);
  background-color: white;
  color: rgb(104, 218, 205);
  text-transform: uppercase;
  width: 150px;
  padding: 15px;
  font-weight: bold;
  font-size: larger;
}

section#contact_client-section h2 {
  color: rgb(64, 62, 75);
}

section#contact_client-section .wrapper {
  width: 100%;
  height: 960px;
  display: flex;
  background-color: white;
}

section#contact_client-section .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 15px;
  margin: 0 auto;
  width: 960px;
}

section#contact_client-section .container .div1 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: end;
}

section#contact_client-section .container .div2 {
  grid-area: 1 / 3 / 2 / 5;
  align-self: end;
}

section#contact_client-section .container .div3 {
  grid-area: 2 / 1 / 7 / 3;
}

section#contact_client-section .container .div4 {
  grid-area: 2 / 3 / 3 / 4;
}

section#contact_client-section .container .div5 {
  grid-area: 2 / 4 / 3 / 5;
}

section#contact_client-section .container .div6 {
  grid-area: 3 / 3 / 4 / 4;
}

section#contact_client-section .container .div7 {
  grid-area: 3 / 4 / 4 / 5;
}

section#contact_client-section .container .div8 {
  grid-area: 4 / 3 / 5 / 4;
}

section#contact_client-section .container .div9 {
  grid-area: 4 / 4 / 5 / 5;
}

section#contact_client-section .container .div10 {
  grid-area: 5 / 3 / 6 / 4;
}

section#contact_client-section .container .div11 {
  grid-area: 5 / 4 / 6 / 5;
}

section#contact_client-section .container .div12 {
  grid-area: 6 / 3 / 7 / 4;
}

section#contact_client-section .container .div13 {
  grid-area: 6 / 4 / 7 / 5;
}

footer {
  color: blueviolet;
}